/* styles.css */
html{
    width: 100vw;
    height: 100vh;
}
/* Общие стили */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

/* Стили для навигации */

.from{
    height: 100px;
    width: 100px;
    font-size: 100px;
    color: blue;
    margin: 0;
}

header{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background-color: lightblue;
}

nav ul {
    list-style: none;
    display: flex;
    justify-content: flex-end;
    align-self: flex-start;
}

nav li {
    margin-right: 20px;
}

nav a {
    text-decoration: none;
    color: #333;
    font-weight: bold;
}

main{
    max-height: 100%;
}

.img-try {
    display: flex;
    flex-direction: row;
    width: 100vw;
}

.img-try a{
    font-size: 50px;
}

#myParagraph {
    transition: opacity 0.5s ease; 
    color: blue;
    margin : 0 300px;
  }

.img-try.text {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.img{
    height: 200px;
    width: 300px;
    background-image: url(./img/grafika.jpg);
    background-repeat: no-repeat;
    background-size: contain;
}


.contact-form {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    width: 600px;
    padding: 20px;
    background-color: #f9f9f9;
    border: 1px solid #ddd;
}

.contact-form h1 {
    font-size: 24px;
    margin-bottom: 20px;
}

.contact-form label {
    display: block;
    margin-bottom: 10px;
}

.contact-form input,
.contact-form textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

.contact-form button {
    background-color: lightblue;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}

.froms{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 0;
}

.froms input {
    margin: 0;
    width: 40px;
}

.froms label {
    width: 50%;
}


footer {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-end;
    text-align: center;
    padding: 20px;
    background-color: lightblue;
    color: #fff;
}

